# virtualenv venv --python=python3.11
# source venv/bin/activate
# pip install --upgrade pip setuptools wheel

# pip install torch torchvision torchaudio torchcodec --pre --extra-index-url https://download.pytorch.org/whl/nightly/cpu
# pip install xinference[all] selenium huggingface_hub

torch
torchvision
torchaudio
torchcodec

xinference[all]
selenium
huggingface_hub
