requests

beautifulsoup4
selenium

pyecharts
pyecharts-javascripthon

opencv-python
opencv-contrib-python
numpy
pillow

huggingface_hub<0.26.0
huggingface_hub[cli]
hf-transfer

xinference[mlx]
sentence-transformers

marker-pdf

peewee
pymysql

